.ruka{
    cursor:pointer;
}
.siroko{
    width:100%
}
.logo-centered {
    display: block;
    margin: 0 auto;
}
.naslov{
    font-weight: bold;  /* Podebljana slova */
    font-size: 16px;    /* Veličina slova */
    background-color: #E6CCFF; /* Svijetloljubičasta pozadina */
    padding: 5px 10px;  /* Malo prostora oko teksta */
    display: inline-block; /* Omogućava da pozadina prati veličinu teksta */
    border-radius: 5px; /* Zaobljeni rubovi (po želji) */

}
.logo-navbar {
    width: 100px;  /* Podešavanje širine slike */
    height: auto;  /* Automatski postavljena visina, održava proporcije */
    cursor: pointer;  /* Pokazivač na ruci kad se prijeđe mišem */
  }

  .dropdown-title {
    
    font-size: 18px;          /* Veličina slova */
    color: #4B0082;           /* Ljubičasta boja (ili bilo koja koju želiš) */
    
    cursor: pointer;         /* Pokazivač na ruci kad se prijeđe mišem */
  } 

  .welcome-title {
    font-weight: bold;         /* Podebljana slova */
    font-size: 24px;           /* Veličina slova */
    color: #4B0082;            /* Ljubičasta boja (možeš zamijeniti s nekom drugom) */
    text-align: center;        /* Centriranje teksta */
    
    padding: 20px 0;           /* Prostor iznad i ispod teksta */
    background-color: #f0e6ff; /* Svijetloljubičasta pozadina (možeš promijeniti) */
    border-radius: 10px;       /* Zaobljeni rubovi */
  }