.ruka{
  cursor: pointer;
}
.siroko{
    width:100%;
    background-color: #b681da;
    transition: background-color 0.3s ease;
}
.siroko:hover, .siroko:active {
  background-color: #7d3d9b; 
}
.siroko:clicked {
  background-color: #7d3d9b; /* Ostaje ljubičasta kad je gumb pritisnut */
}
.siroko:focus {
  background-color: #7d3d9b;
}

.logo-centered {
    display: block;
    margin: 0 auto;
}
.naslov{
    font-weight: bold;  
    font-size: 16px;    
    background-color: #E6CCFF; 
    padding: 5px 10px;  
    display: inline-block; /* Omogućava da pozadina prati veličinu teksta */
    border-radius: 5px; /* Zaobljeni rubovi (po želji)*/

}
.logo-navbar {
    width: 160px;  
    height: auto;  
    cursor: pointer;
    padding-bottom:40px;
    padding-right: 20px;
  }

  .dropdown-title {
    
    font-size: 20px;          
    color: #4B0082;           
    cursor: pointer;   
    padding-top: 200px;      
  } 

  .welcome-title {
    
    font-size: 24px;           
    color: #4B0082;            
    text-align: center;        
    
    padding: 20px 0;           
    background-color: #f0e6ff; 
    border-radius: 10px;       
  }

  .custom-right-align {
    margin-left: auto;
}

.sredina{
  text-align: center;
}

.sirokostatus{
  width:58%;
  background-color: #b681da;
  transition: background-color 0.3s ease;
  
 
}
.sirokostatus:hover, .siroko:active {
background-color: #7d3d9b; 
}
.sirokostatus:clicked {
background-color: #7d3d9b; /* Ostaje ljubičasta kad je gumb pritisnut */
}
.sirokostatus:focus {
background-color: #7d3d9b;
}

 